@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Предмет</th>
            <th>Кабинет</th>
            <th>Время</th>
        </tr>
    </thead>
    <tbody>
        <td colspan="4"><h1 align="center">Понедельник</h1></td>
        <tr>
            <th scope="row">1</th>
            <td>Алгебра</td>
            <td>13</td>
            <td>8:00</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Русс.яз</td>
            <td>16</td>
            <td>9:00</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Физика</td>
            <td>30</td>
            <td>10:00</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Геометрия</td>
            <td>19</td>
            <td>11:00</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Ин.яз</td>
            <td>24</td>
            <td>12:00</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Биология</td>
            <td>05</td>
            <td>13:00</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Химия</td>
            <td>28</td>
            <td>14:00</td>
        </tr>

                <td colspan="4"><h1 align="center">Вторник</h1></td>
        <tr>
            <th scope="row">1</th>
            <td>Алгебра</td>
            <td>12</td>
            <td>8:00</td>
        </tr>
        <tr>
             <th scope="row">2</th>
            <td>Литра</td>
            <td>20</td>
            <td>9:00</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Химия</td>
            <td>28</td>
            <td>14:00</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Русский</td>
            <td>15</td>
            <td>11:00</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Геометрия</td>
            <td>23</td>
            <td>12:00</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Биология</td>
            <td>28</td>
            <td>13:00</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Химия</td>
            <td>31</td>
            <td>14:00</td>
        </tr>
        <td colspan="4"><h1 align="center">Среда</h1></td>
        <tr>
            <th scope="row">1</th>
            <td>Вышмат</td>
            <td>12</td>
            <td>8:00</td>
        </tr>
        <tr>
             <th scope="row">2</th>
            <td>Литра</td>
            <td>20</td>
            <td>9:00</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Физика</td>
            <td>23</td>
            <td>10:00</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Русский</td>
            <td>15</td>
            <td>11:00</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Английский</td>
            <td>19</td>
            <td>12:00</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Биология</td>
            <td>28</td>
            <td>13:00</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Химия</td>
            <td>31</td>
            <td>14:00</td>
        </tr>
        <td colspan="4"><h1 align="center">Четверг</h1></td>
        <tr>
            <th scope="row">1</th>
            <td>Вышмат</td>
            <td>12</td>
            <td>8:00</td>
        </tr>
        <tr>
             <th scope="row">2</th>
            <td>Литра</td>
            <td>20</td>
            <td>9:00</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Физика</td>
            <td>23</td>
            <td>10:00</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Русский</td>
            <td>15</td>
            <td>11:00</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Английский</td>
            <td>19</td>
            <td>12:00</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Биология</td>
            <td>28</td>
            <td>13:00</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Химия</td>
            <td>31</td>
            <td>14:00</td>
        </tr>
        <td colspan="4"><h1 align="center">Пятница</h1></td>
        <tr>
            <th scope="row">1</th>
            <td>Вышмат</td>
            <td>12</td>
            <td>8:00</td>
        </tr>
        <tr>
             <th scope="row">2</th>
            <td>Литра</td>
            <td>20</td>
            <td>9:00</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Физика</td>
            <td>23</td>
            <td>10:00</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Русский</td>
            <td>15</td>
            <td>11:00</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Английский</td>
            <td>19</td>
            <td>12:00</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Биология</td>
            <td>28</td>
            <td>13:00</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Химия</td>
            <td>31</td>
            <td>14:00</td>
        </tr>
        <td colspan="4"><h1 align="center">Суббота</h1></td>
        <tr>
            <th scope="row">1</th>
            <td>Вышмат</td>
            <td>12</td>
            <td>8:00</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Литра</td>
            <td>20</td>
            <td>9:00</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Физика</td>
            <td>23</td>
            <td>10:00</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Русский</td>
            <td>15</td>
            <td>11:00</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Английский</td>
            <td>19</td>
            <td>12:00</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Биология</td>
            <td>28</td>
            <td>13:00</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Химия</td>
            <td>31</td>
            <td>14:00</td>
        </tr>
    </tbody>
</table>